<h1 class="text-white my-3" > Welcome to my twitch app</h1>

<div class="row">
  <div class="col-md-8 text-white">
    <video id="video" width="100%" controls></video>
    <p>This was made only for learning purposes</p>
  </div>
  <div class="col-md-4 text-purple">
    <%= render 'home/chat' %>
  </div>
</div>