// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.chat {
  background-color: #18181b;
  border-radius: 10px;
  padding-top: 10px;
}
.card {
  background-color: #18181b;
  border-radius: 7.5px;
}

#chatroom {
  background-color: azure;
  height: 15em;
  border-radius: 5px;
  max-height: 26em;
  overflow-y:scroll;
}